@tailwind components;
@layer components {
  .card {
    @apply relative rounded-sm;
  }
  .back,
  .front {
    @apply w-24 h-24 rounded-sm object-cover border-2 border-secondary-400 border-opacity-50;
  }

  .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    @apply absolute top-0 left-0;
  }
  .flipped .front {
    @apply transform rotate-0;
    transition-delay: 0.2s;
  }

  .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
  }
  .flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0;
  }
}
